{% extends 'base.html' %}
{% load static %}

{% block title %}IMDb - {{ movie.title }}{% endblock %}

{% block Content %}
    <!--Commenting form-->
    <div class="hero mv-single-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- <h1> movie listing - list</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="#">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
    <div class="page-single movie-single movie_single">
        <div class="container">
            <div class="row ipad-width2">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="movie-img sticky-sb">
                        <img src="{{ movie.avatar.url }}" alt="">
                        {% if request.user.is_staff %}
                            <div class="movie-btn">
                                <div class="btn-transform transform-vertical red">
                                    <div><a href="{% url 'edit_movie' movie.id %}" class="item item-1 yellowbtn">Edit
                                        Movie</a>
                                    </div>
                                    <div><a href="{% url 'edit_movie' movie.id %}"
                                            class="item item-2 yellowbtn fancybox-media hvr-grow">. . .</a></div>
                                </div>
                                <div class="btn-transform transform-vertical">
                                    <div><a href="{% url 'movie_add' %}" class="item item-1 redbtn">Add Another
                                        Movie</a>
                                    </div>
                                    <div><a href="{% url 'movie_add' %}"
                                            class="item item-2 redbtn fancybox-media hvr-grow">. . .</a>
                                    </div>

                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="movie-single-ct main-content">
                        <h1 class="bd-hd">{{ movie.title }}</h1>
                        <div class="movie-rate">
                            <div class="rate">
                                <i class="ion-android-star"></i>
                                <!-- TODO -->
                                <p><span>8.1</span> /10<br>
                                    <span class="rv">{{ Comments.count }} Reviews</span>
                                </p>
                            </div>
                            <p style="margin-right: 2%; margin-left: 10%">Rate This Movie: </p>
                            <form action="" method="post">
                                <div class="star-rating">
                                    <input type="radio" id="10-stars" name="rating" value="10"/>
                                    <label for="10-stars" class="star">&#9733;</label>
                                    <input type="radio" id="9-stars" name="rating" value="9"/>
                                    <label for="9-stars" class="star">&#9733;</label>
                                    <input type="radio" id="8-stars" name="rating" value="8"/>
                                    <label for="8-stars" class="star">&#9733;</label>
                                    <input type="radio" id="7-stars" name="rating" value="7"/>
                                    <label for="7-stars" class="star">&#9733;</label>
                                    <input type="radio" id="6-star" name="rating" value="6"/>
                                    <label for="6-stars" class="star">&#9733;</label>
                                    <input type="radio" id="5-stars" name="rating" value="5"/>
                                    <label for="5-stars" class="star">&#9733;</label>
                                    <input type="radio" id="4-stars" name="rating" value="4"/>
                                    <label for="4-stars" class="star">&#9733;</label>
                                    <input type="radio" id="3-stars" name="rating" value="3"/>
                                    <label for="3-stars" class="star">&#9733;</label>
                                    <input type="radio" id="2-stars" name="rating" value="2"/>
                                    <label for="2-stars" class="star">&#9733;</label>
                                    <input type="radio" id="1-star" name="rating" value="1"/>
                                    <label for="1-star" class="star">&#9733;</label>
                                </div>
                            </form>
                        </div>
                        <div class="movie-tabs">
                            <div class="tabs">
                                <ul class="tab-links tabs-mv">
                                    <li class="active"><a href="#overview">Overview</a></li>
                                    <li><a href="#reviews"> Reviews</a></li>
                                    <li><a href="#cast"> Cast & Crew </a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="overview" class="tab active">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-12 col-xs-12">
                                                <p>{{ movie.description | capfirst }}</p>
                                                <div class="title-hd-sm">
                                                    <h4>User reviews</h4>
                                                </div>
                                                <!-- movie user review -->
                                                <div class="mv-user-review-item">
                                                    <h3>{{ Comments.last.title }}</h3>
                                                    <p class="time">
                                                        {{ Comments.last.created_time }} by <a
                                                            href="#"> {{ Comments.last.user }}</a>
                                                    </p>
                                                    <p>{{ Comments.last.text }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="reviews" class="tab review">
                                        <div class="row">
                                            <div class="rv-hd">
                                                <div class="div">
                                                    <h3>Reviews of</h3>
                                                    <h2>{{ movie.title }}</h2>
                                                </div>
                                                <a href="{% url 'movie_comment' movie.id %}" class="redbtn">Write
                                                    Review</a>
                                            </div>
                                            <div class="topbar-filter">
                                                <p>Found <span>{{ Comments.count }} reviews</span> in total</p>
                                            </div>
                                            {% for comment in Comments %}
                                                <div class="mv-user-review-item">
                                                    <div class="user-infor">
                                                        {#                                                    <img src="{% static 'images/uploads/userava1.jpg' %}" alt="">#}
                                                        <div>
                                                            <h3>{{ comment.title }}</h3>
                                                            <div class="no-star">
                                                                <i class="ion-android-star"></i>
                                                                <i class="ion-android-star"></i>
                                                                <i class="ion-android-star"></i>
                                                                <i class="ion-android-star"></i>
                                                                <i class="ion-android-star"></i>
                                                                <i class="ion-android-star"></i>
                                                                <i class="ion-android-star"></i>
                                                                <i class="ion-android-star"></i>
                                                                <i class="ion-android-star"></i>
                                                                <i class="ion-android-star last"></i>
                                                            </div>
                                                            <p class="time">
                                                                {{ comment.created_time }} by <a
                                                                    href="#"> {{ comment.user }}</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <p>{{ comment.text }}</p>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div id="cast" class="tab">
                                        <div class="row">
                                            <h3>Cast & Crew of</h3>
                                            <h2>{{ movie.title }}</h2>
                                            <!-- //== -->
                                            <div class="title-hd-sm">
                                                <h4>Directed by</h4>
                                            </div>
                                            {% for Director in Directors %}
                                                <div class="mvcast-item">
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <h4></h4>
                                                            <p>{{ Director }}</p>
                                                        </div>
                                                        <p></p>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <div class="title-hd-sm">
                                                <h4>Writer(s)</h4>
                                            </div>
                                            {% for writer in Writers %}
                                                <div class="mvcast-item">
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <h4></h4>
                                                            <p>{{ writer }}</p>
                                                        </div>
                                                        <p></p>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <div class="title-hd-sm">
                                                <h4>Actors</h4>
                                            </div>
                                            {% for actor in Actors %}
                                                <div class="mvcast-item">
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <h4></h4>
                                                            <p>{{ actor }}</p>
                                                        </div>
                                                        <p></p>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
